@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url("./assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayBold";
  font-weight: normal;
  src: url("./assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayMedium";
  font-weight: normal;
  src: url("./assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayRegular";
  font-weight: normal;
  src: url("./assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "MilluniumBold";
  font-weight: normal;
  src: url("./assets/fonts/Millunium Bold/Millunium-Bold.ttf") format("truetype"); }
body {
  background: #F4F4F4; }
  body .container_top {
    height: 100vh;
    background-image: url("./assets/images/pp-main-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    body .container_top .header {
      margin-top: 10px;
      display: flex;
      background: transparent; }
      body .container_top .header .logo {
        background-image: url("./assets/images/jb-logo.svg");
        background-size: cover;
        height: 32px;
        width: 28px; }
      body .container_top .header .main_hamburger {
        border: 2px solid #fff;
        width: 12px;
        height: 18px;
        margin-top: 5px;
        margin-left: -10px; }
    body .container_top .scroll {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 52px;
      left: 0px;
      background: #1E3066;
      margin-top: 0;
      padding: 10px 15px 0; }
    body .container_top .main_theme {
      color: #fff;
      font-family: "Raleway";
      font-size: 15px;
      margin-top: 51px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px; }
    body .container_top .event_theme {
      color: #fff;
      font-family: "MilluniumBold";
      font-size: 38px;
      text-transform: capitalize;
      text-align: center; }
    body .container_top .event_invite {
      color: #fff;
      font-family: "RalewayMedium";
      font-size: 14px;
      text-align: center;
      line-height: 1.6;
      margin-top: 45px; }
    body .container_top .round {
      height: 30px;
      width: 30px;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: .7;
      margin: 18px auto 0; }
      body .container_top .round .rectangle {
        border: 1px solid #fff;
        width: 5.5px;
        height: 9px;
        margin: 8px 0 0 8px; }
  body .join {
    background: #3EAD48;
    width: 240px;
    height: 42px;
    margin: 22px auto 0;
    display: block;
    border: none;
    border-radius: 5px;
    font-family: "RalewayBold";
    color: #fff; }
  body .main_section {
    position: relative;
    padding: 0; }
    body .main_section .basic_infos {
      margin: 45px auto 0;
      background-color: #fff;
      width: 95%;
      height: 470px;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18); }
      body .main_section .basic_infos .title_tournament {
        position: absolute;
        margin-top: 35px;
        padding-left: 20px;
        text-transform: uppercase;
        color: #707070;
        font-family: "RalewayBold";
        font-size: 15px;
        letter-spacing: 2px; }
      body .main_section .basic_infos .slogan_tournament {
        font-family: "MilluniumBold";
        font-size: 24px;
        color: rgba(0, 0, 0, 0.8);
        padding: 0 20px 0;
        margin-top: 60px;
        position: absolute;
        line-height: 1.2;
        width: 95%; }
      body .main_section .basic_infos .invite_tournament {
        position: absolute;
        margin-top: 170px;
        padding: 0 20px 0;
        font-family: "RalewayRegular";
        font-size: 14px;
        line-height: 1.6;
        width: 95%;
        color: rgba(0, 0, 0, 0.8); }
      body .main_section .basic_infos .tournament {
        position: absolute;
        margin-top: 390px;
        left: 0;
        right: 0;
        width: 272px;
        height: 40px;
        border-radius: 2px; }
      body .main_section .basic_infos .join_us {
        margin-top: 310px; }
    body .main_section .join_tournament {
      height: 382px; }
    body .main_section .football_section {
      z-index: -1;
      position: relative;
      margin-top: -35px;
      height: 320px; }
      body .main_section .football_section .football_div {
        width: 100%;
        height: 100%;
        background-image: url("./assets/images/pp-foosball-match.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -53px 0; }
  body .daily_statistic {
    width: 100%;
    height: 334px;
    background-color: #3EAD48;
    text-align: center; }
    body .daily_statistic .raleway {
      font-family: "RalewayBold"; }
    body .daily_statistic .millunium {
      font-family: "MilluniumBold"; }
    body .daily_statistic span {
      display: block;
      color: #fff; }
    body .daily_statistic .title_statistic {
      font-size: 15px;
      letter-spacing: 2px;
      padding: 40px 0 0; }
    body .daily_statistic .number_matches {
      padding: 20px 0 0;
      font-size: 36px; }
    body .daily_statistic .number_goals, body .daily_statistic .number_sweat {
      font-size: 36px;
      padding: 3px 0 0; }
  body .awards {
    width: 100%;
    height: 1164px;
    background-color: #fff; }
    body .awards .title_awards {
      text-transform: uppercase;
      font-family: "RalewayBold";
      font-size: 15px;
      padding-top: 40px;
      color: #707070;
      text-align: center;
      letter-spacing: 2px; }
    body .awards .info_awards {
      font-family: "MilluniumBold";
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      width: 95%;
      line-height: 1.2;
      margin-bottom: 0; }
    body .awards .type_awards {
      text-align: center; }
      body .awards .type_awards .award {
        padding: 0; }
        body .awards .type_awards .award p {
          font-family: "MilluniumBold";
          font-size: 36px;
          color: rgba(0, 0, 0, 0.4);
          margin: 25px 0 0; }
        body .awards .type_awards .award .award_1 {
          color: #3EAD48; }
        body .awards .type_awards .award small {
          display: block;
          font-family: "RalewayBold";
          font-size: 15px;
          color: rgba(0, 0, 0, 0.8);
          margin: 15px auto 0;
          width: 70%; }
  body .opinion {
    width: 100%;
    height: 444px;
    background-color: #3EAD48;
    margin-top: -35px;
    z-index: -1;
    position: relative; }
    body .opinion .decorator {
      position: absolute;
      top: 55px;
      right: 5%; }
      body .opinion .decorator i {
        font-size: 88px;
        color: #f5f5f5;
        opacity: 0.25; }
    body .opinion span {
      font-family: "RalewayMedium";
      font-size: 14px;
      position: absolute;
      width: 95%;
      color: #fff;
      padding: 10px 10px 0 10px;
      top: 72px;
      letter-spacing: 1px; }

/*# sourceMappingURL=styles.css.map */
