@font-face {
    font-family: "Raleway";
    font-weight: normal;
    src: url("./assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayBold";
    font-weight: normal;
    src: url("./assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayMedium";
    font-weight: normal;
    src: url("./assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayRegular";
    font-weight: normal;
    src: url("./assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MilluniumBold";
    font-weight: normal;
    src: url("./assets/fonts/Millunium Bold/Millunium-Bold.ttf") format("truetype");
}

body {
    background: #F4F4F4;
        .container_top {
            height: 502px;
            background-image: url("./assets/images/pp-main-background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0 16px 0;
                .header {
                    margin-top: 10px;
                    display: flex;
                    background: transparent;
                        .logo {
                            background-image: url("./assets/images/jb-logo.svg");
                            background-size: cover;
                            height: 32px;
                            width: 28px;
                        }
                        .hamburger {
                            color: #fff;
                            font-size: 22px;
                            position: absolute;
                            right: 21px;
                        }
                }
                .mobile_menu {
                    display: none;
                    height: 530px;
                    width: 290px;
                    background: #1E3066;
                    top: 0;
                    right: 0;
                    z-index: 100;
                    position: fixed;
                        i {
                            position: absolute;
                            right: 0;
                            color: #fff;
                            font-size: 22px;
                            padding-top: 10px;
                            padding-right: 21px;
                        }
                        .mobile_menu_elements {
                            margin-top: 70px;
                            display: flex;
                                .decoration_ul {
                                    width: 42px;
                                    height: 3px;
                                    border: 1px solid #3EAD48;
                                    background: #3EAD48;
                                    position: absolute;
                                    margin-top: 10px;
                                    left: -15px;
                                }
                        }
                        .menu_hand {
                            list-style-type: none;
                            font-family: "RalewayMedium", sans-serif;
                            font-size: 22px;
                            margin-left: 45px;
                            padding-left: 0;
                                li {
                                    color: #fff;
                                    padding-bottom: 16px;
                                }
                        }
                        
                }
                .overlay {
                    display: none;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    background-color: rgba(0,0,0,.7);
                }
                .scroll {
                    position: fixed;
                    z-index: 10;
                    width: 100%;
                    height: 52px;
                    left: 0px;
                    background: #1E3066;
                    margin-top: 0;
                    padding: 10px 15px 0;
                }
                .main_theme {
                    color: #fff;
                    font-family: "Raleway", sans-serif;
                    font-size: 15px;
                    margin-top: 51px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .event_theme {
                    color: #fff;
                    font-family: "MilluniumBold", sans-serif;
                    font-size: 38px;
                    text-transform: capitalize;
                    text-align: center;
                    display: block;
                    height: 60px;
                    overflow: hidden;
                }
                .event_invite {
                    color: #fff;
                    font-family: "RalewayMedium", sans-serif;
                    font-size: 14px;
                    text-align: center;
                    line-height: 1.6;
                    margin: 45px auto 0;
                    width: 290px;
                }
                .round {
                    height: 30px;
                    width: 30px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    opacity: .7;
                    margin: 18px auto 18px;
                    text-align: center;
                        i {
                            font-size: 18px;
                            padding-top: 5px;
                            color: #fff;
                        }
                }
        }
        .join {
            background: #3EAD48;
            width: 240px;
            height: 42px;
            margin: 22px auto 0;
            display: block;
            border: none;
            border-radius: 5px;
            font-family: "RalewayBold", sans-serif;
            color: #fff;
        }
        .main_section {
            position: relative;
            padding: 0;
                .basic_infos {
                    margin: 45px auto 0;
                    background-color: #fff;
                    width: 95%;
                    height: 470px;
                    border-radius: 4px;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.18);
                        .title_tournament {
                            position: absolute;
                            margin-top: 35px;
                            padding-left: 20px;
                            text-transform: uppercase;
                            color: #707070;
                            font-family: "RalewayBold", sans-serif;
                            font-size: 15px;
                            letter-spacing: 2px;
                        }
                        .slogan_tournament {
                            font-family: "MilluniumBold", sans-serif;
                            font-size: 24px;
                            color: rgba(0,0,0,0.8);
                            padding: 0 20px 0;
                            margin-top: 60px;
                            position: absolute;
                            line-height: 1.2;
                            width: 95%;
                        }
                        .invite_tournament {
                            position: absolute;
                            margin-top: 170px;
                            padding: 0 20px 0;
                            font-family: "RalewayRegular", sans-serif;
                            font-size: 14px;
                            line-height: 1.6;
                            width: 95%;
                            color: rgba(0,0,0,.8);
                        }
                        .tournament {
                            position: absolute;
                            margin-top: 395px;
                            left: 0;
                            right: 0;
                            width: 272px;
                            height: 40px;
                            border-radius: 2px;
                        }
                        .join_us {
                            margin-top: 310px;
                        }
                }
                .join_tournament {
                    height: 382px;
                }
                .football_section {
                    z-index: -1;
                    position: relative;
                    margin-top: -35px;
                    height: 320px;
                        .football_div {
                            width: 100%;
                            height: 100%;
                            background-image: url("./assets/images/pp-foosball-match.jpg");
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: -53px 0;
                        }
                }
                .daily_statistic {
                    width: 100%;
                    height: 334px;
                    background-color: #3EAD48;
                    text-align: center;
                        .raleway {
                            font-family: "RalewayBold", sans-serif;
                        }
                        .millunium {
                            font-family: "MilluniumBold", sans-serif;
                        }
                        span {
                            display: block;
                            color: #fff;
                        }
                        .title_statistic {
                            font-size: 15px;
                            letter-spacing: 2px;
                            padding: 35px 0 0;
                        }
                        .number_matches {
                            padding: 20px 0 0;
                            font-size: 36px;
                        }
                        .number_goals, .number_sweat {
                            font-size: 36px;
                            padding: 4px 0 0;
                        }
                }
                .awards {
                    width: 100%;
                    height: 1164px;
                    background-color: #fff;
                        .title_awards {
                            text-transform: uppercase;
                            font-family: "RalewayBold", sans-serif;
                            font-size: 15px;
                            padding-top: 40px;
                            color: #707070;
                            text-align: center;
                            letter-spacing: 2px;
                        }
                        .info_awards {
                            font-family: "MilluniumBold", sans-serif;
                            font-size: 24px;
                            color: rgba(0,0,0,0.8);
                            text-align: center;
                            width: 90%;
                            line-height: 1.2;
                            margin: 0 auto;
                        }
                        .type_awards {
                            text-align: center;
                                .award {
                                    padding: 0;
                                    p {
                                        font-family: "MilluniumBold", sans-serif;
                                        font-size: 36px;
                                        color: rgba(0,0,0,.4);
                                        margin: 25px 0 0;
                                    }
                                    .award_1 {
                                        color: #3EAD48;
                                    }
                                    small {
                                        display: block;
                                        font-family: "RalewayBold", sans-serif;
                                        font-size: 15px;
                                        color: rgba(0,0,0,0.8);
                                        margin: 15px auto 0;
                                        width: 70%;
                                    }
                                }
                        }
                }
                .opinion {
                    width: 100%;
                    height: 444px;
                    background-color: #3EAD48;
                    margin-top: -35px;
                    z-index: -1;
                    position: relative;
                        .decorator {
                            position: absolute;
                            top: 45px;
                            right: 5%;
                                i {
                                    font-size: 88px;
                                    color: #f5f5f5;
                                    opacity: 0.25;
                                }
                        }
                        span {
                            font-family: "RalewayMedium", sans-serif;
                            font-size: 14px;
                            position: absolute;
                            width: 320px;
                            color: #fff;
                            padding: 10px 10px 0 16px;
                            top: 55px;
                            line-height: 1.6;
                        }
                        .proof {
                            display: flex;
                            position: absolute;
                            margin-left: 10px;
                            width: 95%;
                            top: 80%;
                                .data_proof {
                                    background-color: #fff;
                                    border-radius: 50%;
                                    height: 48px;
                                    width: 48px;
                                        img {
                                            border-radius: 50%;
                                            height: 100%;
                                            width: 100%;
                                        }
                                }
                                .paragraphs {
                                    display: table-cell;
                                    height: auto;
                                    padding-top: 2px;
                                    margin-left: 15px;
                                        .proof_p {
                                            margin-bottom: 0;
                                            color: #fff;
                                            text-transform:capitalize;
                                            font-family: "RalewayBold", sans-serif;
                                            font-size: 15px;
                                        }
                                        .position {
                                            text-transform: none;
                                            font-family: "RalewayMedium", sans-serif;
                                            font-size: 14px;
                                        }
                                }
                        }
        
                }
                .office_photo {
                    width: 100%;
                    height: 240px;
                    background-image: url("../styles/assets/images/pp-office.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .form {
                    width: 100%;
                    height: 430px;
                    background-color: #fff;
                    display: table;
                        .title_contact {
                            position: absolute;
                            margin-top: 42px;
                            padding: 0 16px 0;
                            text-transform: uppercase;
                            color: #707070;
                            font-family: "RalewayBold", sans-serif;
                            font-size: 15px;
                            letter-spacing: 2px;
                            width: 100%;
                        }
                        .title_write {
                            font-family: "MilluniumBold", sans-serif;
                            font-size: 24px;
                            color: rgba(0, 0, 0, .8);
                            padding: 0 16px 0;
                            margin-top: 68px;
                            position: absolute;
                            line-height: 1.2;
                            width: 100%;
                        }
                        form {
                            width: 90%;
                            margin: 126px 16px auto;
                                input {
                                    border: none;
                                    border-bottom: 1px solid rgba(0,0,0,.24);
                                    width: 100%;
                                    margin: 0 auto;
                                    padding-bottom: 9px;
                                }
                                input:not(:first-child) {
                                    margin-top: 20px;
                                }
                                input::placeholder {
                                    font-family: "RalewayRegular", sans-serif;
                                    font-size: 14px;
                                    color: rgba(0,0,0,.5)
                                }
                                textarea {
                                    background-color: #F4F4F4;
                                    border: 1px solid rgba(0,0,0,.24);
                                    width: 100%;
                                    height: 110px;
                                    margin-top: 16px;
                                    padding: 14px 0 0 12px;
                                    font-family: "RalewayRegular", sans-serif;
                                    font-size: 14px;
                                    border-radius: 2px;
                                    display: block;
                                }
                        }
                        .sent {
                            width: 288px;
                            padding: 0;
                            border-radius: 3px;
                            margin-top: 10px;
                        }
                }   
        }
        footer {
            background-color: #1E3066;
            width: 100%;
            height: 86px;
            text-align: center;
            color: #fff;
            font-family: "RalewayMedium", sans-serif;
            font-size: 15px;
            padding-top: 32px;
        }
}

@media screen and (min-width: 767px) {
    body {
        .container_top {
            .event_invite {
                width: 590px;
            }
            .header {
                margin-top: 26px;
                    .hamburger {
                        right: 48px;
                    }
                    .logo {
                        background-size: 100% 100%;
                        background-image: url("./assets/images/jb-logo.svg");
                        height: 36px;
                        width: 200px;
                        margin-left: 26px;
                    }
            }
            .mobile_menu {
                width: 476px;
                height: 640px;
                    .fas.fa-times {
                        margin-top: 36px;
                        margin-right: 40px;
                    }
                    .mobile_menu_elements {
                        .decoration_ul {
                            width: 64px;
                            left: -32px;
                            margin-top: 20px;
                        }
                        .menu_hand {
                            margin-left: 72px;
                                li {
                                    font-size: 30px;
                                }
                        }
                    }
            }
            .scroll {
                margin-top: 0;
                padding-left: 0;
                padding-right: 0;
            }
            .logo_scroll {
                width: 38px;
                margin-left: 26px;
                background-size: cover;
                background-image: url("./assets/images/jb-logo.svg");
            }
        }
        .main_section {
            height: 3310px;
            .basic_infos {
                width: 504px;
                margin: 45px 0 0 20px;
                    .title_tournament {
                        padding-left: 30px;
                    }
                    .slogan_tournament {
                        width: 435px;
                        font-family: "MilluniumBold", sans-serif;
                        font-size: 32px;
                        padding-left: 30px;
                    }
                    .invite_tournament {
                        width: 474px;
                        margin-top: 208px;
                        padding-left: 30px;
                        font-size: 15px;
                    }
                    .tournament {
                        width: 320px;
                        height: 48px;
                        left: 16px;
                        margin-top: 380px;
                        margin-left: 30px;
                        font-family: "RalewayBold", sans-serif;
                        font-size: 15px;
                    }
                }
                .football_section {
                    width: 512px;
                    height: 320px;
                    margin: 0 0 0 51px;
                        .football_div {
                            background-position: center;
                        }
                }
                .daily_statistic {
                    width: 254px;
                    height: 454px;
                    position: absolute;
                    right: 0;
                    margin-top: -680px;
                    margin-right: 20px;
                    z-index: -1;
                        .title_statistic {
                            width: 50%;
                            margin: 40px auto 0;
                            font-family: "RalewayBold", sans-serif;
                            font-size: 18px;
                            padding-top: 0;
                        }
                        .number_matches {
                            padding: 10px 0 0;
                        }
                        .title_number_matches,
                        .title_number_goals,
                        .title_number_sweat {
                            width: 100px;
                            margin: 0 auto;
                            font-size: 16px;
                        }
                        .number_goals,
                        .number_sweat {
                            padding-top: 12px;
                        }
                }
                .awards {
                    position: relative;
                    margin-top: -150px;
                    z-index: -10;
                    height: 914px;
                        .title_awards {
                            font-size: 18px;
                            padding-top: 235px;
                        }
                        .info_awards {
                            width: 500px;
                            font-size: 32px;
                        }
                        .type_awards {
                            .award {
                                img {
                                    width: 80px;
                                    height: 80px;
                                }
                            }
                        }
                }
                .join_tournament {
                    width: 600px;
                    height: 360px;
                    margin-top: 67px;
                        .title_tournament {
                            margin-top: 40px;
                        }
                        .slogan_tournament {
                            padding-top: 5px;
                        }
                        .invite_tournament {
                            width: 555px;
                            padding-right: 0;
                            margin-top: 170px;
                        }
                        .tournament {
                            margin-top: 270px;
                            font-size: 16px;
                        }
                }
                .opinion {
                    width: 628px;
                    height: 378px;
                    position: absolute;
                    right: 0;
                    z-index: -1;
                    margin-top: -55px;
                    margin-right: 20px;
                        .decorator {
                            left: 30px;
                            margin-top: 60px;
                                i {
                                    font-size: 24px;
                                }
                        }
                        span {
                            width: 514px;
                            margin: 38px 0 0 84px;
                            padding-left: 0;
                        }
                        .proof {
                            top: 290px;
                            margin-left: 84px;
                        }
                }
                .office_photo {
                    margin: 400px auto 0;
                    width: 728px;
                    height: 360px;
                    display: block;
                }
                .form {
                    width: 100%;
                    height: 1120px;
                    position: relative;
                    z-index: -100;
                    top: -600px;
                        .title_contact {
                            margin-top: 680px;
                            margin-left: 50px;
                            padding-left: 0;
                            font-size: 18px;
                        }
                        .title_write {
                            margin-top: 715px;
                            margin-left: 50px;
                            padding-left: 0;
                            font-size: 32px;
                        }
                        form {
                            display: inline-table;
                            margin-top: 790px;
                            margin-left: 50px;
                            input {
                                width: 326px;
                            }
                            input:first-child {
                                margin-right:16px;
                            }
                            textarea {
                                width: 668px;
                            }
                        }
                        .sent {
                            margin-left: 50px;
                            width: 356px;
                            height: 48px;
                            font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        .container_top{
            .header {
                .desktop_menu {
                    display: flex;
                    color: #fff;
                    text-transform: uppercase;
                    margin-left: 20vw;
                    width: 470px;
                        ul {
                            display: inline-flex;
                            list-style-type: none;
                            padding: 10px 0 0 0;
                            width: 100%;
                                li {
                                    margin-right: 8px;
                                    margin-left: 8px;
                                    font-family: "RalewayBold", sans-serif;
                                    font-size: 15px;
                                }
                        }
                }
            }
        }
        .main_section {
            height: 2294px;
                .basic_infos {
                    width: 480px;
                    height: 421px;
                    margin-left: 230px;
                        .title_tournament {
                            padding-left: 30px;
                            font-family: "RalewayBold", sans-serif;
                            font-size: 18px;
                        }
                        .slogan_tournament {
                            padding-left: 30px;
                        }
                        .invite_tournament {
                            margin-top: 190px;
                        }
                        .tournament {
                            margin-top: 350px;
                            left: 50px;
                        }
                        .join.tournament {
                            left: 230px;
                        }
                }
                .football_section {
                    margin: -355px 50px 0 0;
                    float: right;
                    width: 510px;
                    height: 430px;
                    right: 109px;
                }
                .daily_statistic {
                    width: 400px;
                    height: 180px;
                    margin-top: 0;
                    left: 280px;
                        .title_statistic {
                            width: 100%;
                            margin-top: 20px;
                        }
                        .elements {
                            display: flex;
                            width: 100%;
                                div {
                                    width: 33%;
                                }
                        }
                }
                .awards {
                    margin-top: 30px;
                    height: 719px;
                        .title_awards {
                            padding-top: 220px;
                        }
                        .type_awards {
                            padding-top: 20px;
                            left: 50px;
                            position: relative;
                        }
                        .all_awards {
                            margin-left: 100px;
                        }
                }
                .basic_infos.join_tournament {
                    .invite {
                        margin-top: 160px;
                        width: 420px;
                    }
                    .invite_button {
                        margin-top: 280px;
                    }
                }
                .invite_section {
                    height: 380px;
                    margin-left: 230px;
                }
                .opinion {
                    margin-top: -300px;
                    margin-right: 160px;
                    height: 362px;
                        .decorator {
                            margin: 0 0 0 150px;
                                i {
                                    font-size: 24px;
                                }
                        }
                        span {
                            padding-left: 135px;
                            top: 0;
                            padding-top: 5px;
                        }
                        .proof {
                            left: 135px;
                            top: 265px;
                                .data_proof {
                                    width: 64px;
                                    height: 64px;
                                }
                                .paragraphs {
                                    padding-top: 10px;
                                }
                        }
                }
                .office_photo {
                    width: 440px;
                    height: 370px;
                    margin-top: 170px;
                    margin-left: 50px;
                }
                .form {
                    top: -440px;
                    height: 530px;
                        .title_contact {
                            margin: 100px 0 0 520px;
                            font-size: 18px;
                        }
                        .title_write {
                            margin: 130px 0 0 520px;
                            font-size: 32px;
                        }
                        form {
                            margin-top: 190px;
                            margin-left: 520px;
                                input {
                                    width: 227px;
                                }
                                textarea {
                                    width: 470px;
                                }
                        }
                }
                .join.sent {
                    margin: 20px 0 0 520px;
                }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        .container_top {
            .header {
                .desktop_menu {
                    margin-left: 32vw;
                }
            }
        }
        .main_section {
            height: 2460px;
                .basic_infos {
                    width: 600px;
                    margin-left: 380px;
                        .join.tournament {
                            left: 380px;
                        }
                }
                .football_section {
                    width: 692px;
                    height: 492px;
                    right: 270px;
                }
                .daily_statistic {
                    width: 500px;
                    height: 224px;
                    left: 425px;
                        .title_statistic {
                            margin-top: 38px;
                        }
                }
                .awards {
                    margin-top: 100px;
                        .type_awards {
                            left: 100px;
                        }
                }
                .basic_infos.join_tournament {
                    margin-top: 103px;
                    width: 610px;
                        .title_tournament {
                            margin-top: 51px;
                        }
                        .slogan_tournament {
                            width: 590px;
                            padding-top: 20px;
                        }
                        .invite {
                            width: 530px;
                            margin-top: 170px;
                        }
                        .invite_button {
                            margin-top: 275px;
                        }
                }
                .opinion {
                    margin-right: 430px;
                }
                .office_photo {
                    width: 555px;
                    height: 420px;
                    margin-top: 212px;
                    margin-left: 381px;
                }
                .form {
                    top: -505px;
                    height: 637px;
                        .title_contact {
                            margin: 115px 0 0 1000px;
                            font-size: 18px;
                        }
                        .title_write {
                            margin: 145px 0 0 1000px;
                            font-size: 32px;
                        }
                        form {
                            margin-top: 205px;
                            margin-left: 1000px;
                        }
                }
                .join.sent {
                    margin: 20px 0 0 1000px;
                }
        }
    }
}
